div {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

p{
    padding: 20px;
}

  