<div class="main">
    <div class="column1">
        <div class="foto-celular"> 
             </div>
             <p>Baixe agora nosso app!</p>
             <span class=lojas>
                <img src="appStore.svg" alt="appstore">
                <img src="google-play-badge.png" alt="googleplay">
             </span>      
    </div>
    <div class="column2">
        <div class="rows">
            <div  class="row1">
                <p class="delivery">Delivery</p>
                <p style="font-size: 80px;">2U</p>
            </div>
            <div class="row2">
                <p>PARA TODO PEDIDO UMA ENTREGA!</p>
            </div> 
       </div>
        <div class="textao">
            <p>Aplicativo de compras de fácil usabilidade, tanto para o lojista quanto para nossos usuários. O app é bem intuitivo, com cores leves que ajudam os usuários no momentos da decisão de compra.Delivery2U foi desenvolvido para ajudar as empresas a aumentarem suas vendas e ajudar os usuários a realizarem compras no conforto da sua casa/escritório encontrando estabelecimentos com preços justos que possam realizar a entrega com maior segurança e pontualidade.</p>
        </div>
    </div>
   </div> 

<div class="visualizacao">
    

</div>