.header {
    background-color: #161414;
    display:flex;
    flex-grow: 1;
    height: 10%;
    justify-content: center;
}

.logo {
    align-items: center;
    font-size: 37px;
    max-height: 37px;   
    margin: 100px;
    color: #EBD700 !important;
}

a.active {
    color: #EBD700 !important;
}

.header a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #9E9E9E;
    margin: 25px;
    cursor: pointer;
}

.header .title-group {
    display: flex;
    font-size: 18px;
    max-height: 24px;
    align-items: center;
    justify-content: space-between;
    margin: 25px;
    
}

.header .title-group a:hover {
    color: #EBD700;
}

