<section class="home">
    <div class="main">
        <div class="header">

            <div class="col1">
                <div class="celular">
                    <img class="testeiphone" src="../../../assets/home/Teste-Phone.png" /> 
                    <p class="baixe">Baixe agora nosso app!</p>
                </div>
            
                <div class="lojas">
                    <img class="img-appstore-inicio" src="../../../assets/Download_on_the_App_Store_Badge_PTBR_RGB_blk_092917-1.svg" alt="appstore">
                    <img class="img-googleplay-inicio" src="../../../assets/home/google-play-badge@2x.png" alt="googleplay">   
                </div>
            </div>
    
    
            <div class="col2">
                <div class="row">
                        <div class="col2-coluna1">
                            <p class="delivery">Delivery</p>
                            <p class="u2">2U</p>
                        </div>
                        <h1 class="paratodos">PARA TODO PEDIDO UMA ENTREGA!</h1>
                    </div>
                    <p class="textao1">Aplicativo de compras de fácil usabilidade, tanto para o lojista quanto para nossos usuários. O app é bem intuitivo, com cores leves que ajudam os usuários no momentos da decisão de compra.Delivery2U foi desenvolvido para ajudar as empresas a aumentarem suas vendas e ajudar os usuários a realizarem compras no conforto da sua casa/escritório encontrando estabelecimentos com preços justos que possam realizar a entrega com maior segurança e pontualidade.</p>
            </div>
        </div>
    </div> 

    <div class="visualizacao">
        <main>
            <div class="circle-area">
                <div class="col">
                    <div class="circle"></div>
                    <h1>Lorem Ipsum</h1>
                </div>
                <div class="col">
                    <div class="circle"></div>
                    <h1>Lorem Ipsum</h1>
                </div>
                <div class="col">
                    <div class="circle"></div>
                    <h1>Lorem Ipsum</h1>
                </div>
            </div>
            <h1>Lorem Ipsum dolor sit amet, consectetur</h1>
            <div class="card card-left">
            <div class="card-body">
                <img class="img-user" src="../../../assets/home/9525.png" />
                <div class="col">
                    <h3 class="card-title">Usuário usuário</h3>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
                        finibus ligula a ornare tincidunt. Orci varius natoque penatibus et
                        magnis dis parturient montes, nascetur ridiculus mus. Sed ex tortor,
                        gravida a rhoncus sit amet, finibus ut mauris. Morbi iaculis eros
                        vitae odio aliquet venenatis. Quisque non dignissim eros, vitae
                        sagittis augue. Sed nunc eros, dapibus in elit vel, dictum feugiat
                        diam. Sed lacinia hendrerit congue.
                    </p>
                </div>
            </div>
            </div>
            <div class="card card-right">
            <div class="card-body">
                <div class="col">
                <h3 class="card-title-right">Usuário usuário</h3>
                <p class="card-text-right">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
                    finibus ligula a ornare tincidunt. Orci varius natoque penatibus et
                    magnis dis parturient montes, nascetur ridiculus mus. Sed ex tortor,
                    gravida a rhoncus sit amet, finibus ut mauris. Morbi iaculis eros
                    vitae odio aliquet venenatis. Quisque non dignissim eros, vitae
                    sagittis augue. Sed nunc eros, dapibus in elit vel, dictum feugiat
                    diam. Sed lacinia hendrerit congue.
                </p>
                </div>
                <img class="img-user" src="../../../assets/home/2968.png" />
            </div>
            </div>
            <div class="card card-left">
            <div class="card-body">
                <img class="img-user" src="../../../assets/home/3061901.png" />
                <div class="col">
                <h3 class="card-title">Usuário usuário</h3>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
                    finibus ligula a ornare tincidunt. Orci varius natoque penatibus et
                    magnis dis parturient montes, nascetur ridiculus mus. Sed ex tortor,
                    gravida a rhoncus sit amet, finibus ut mauris. Morbi iaculis eros
                    vitae odio aliquet venenatis. Quisque non dignissim eros, vitae
                    sagittis augue. Sed nunc eros, dapibus in elit vel, dictum feugiat
                    diam. Sed lacinia hendrerit congue.
                </p>
                </div>
            </div>
            </div>
            <h1>Baixe agora o nosso app!</h1>
            <div class="lojas-final">
                <a href="/home"><img class="img-appstore" src="../../../assets/Download_on_the_App_Store_Badge_PTBR_RGB_blk_092917-1.svg"/></a>
                <a href="/home"><img class="img-googleplay" src="../../../assets/home/google-play-badge@2x.png"/></a>
            </div>
            
        </main>

        </div>

</section>