<section class="home">
    <img class="header-img" src="../../../assets/parceiro/header-parceiro.PNG" />
  
    <main>
      <h1>Faça seu cadastro e comece a fazer entregas!</h1>
      <form>
        <div class="col">
          <h3>Dados Pessoais</h3>
          <input required class="field" type="name" placeholder="Nome" />
          <input required class="field" type="name" placeholder="Sobrenome" />
          <input required class="field" type="email" placeholder="Email" />
          <input required class="field" type="password" placeholder="Senha" />
          <input required class="field" type="password" placeholder="Confirmar Senha"/>
          <input required class="field" type="name" placeholder="Celular" />
          <input required class="field" type="name" placeholder="RG" />
          <input required class="field" type="name" placeholder="CPF" />
          <input required class="field" type="name" placeholder="CNPJ" />
          <input required class="field" type="city" placeholder="Cidade de Atuação"/>

          <h3>Dados Bancários</h3>
          <input required class="field" type="name" placeholder="Banco" />
          <input required class="field" type="name" placeholder="Tipo de Conta" />
          <input required class="field" type="name" placeholder="Agência" />
          <input required class="field" type="name" placeholder="Conta" />
          <input required class="field" type="name" placeholder="Nome" />
          <input required class="field" type="name" placeholder="CPF" />

          <h3>Dados do Veículo</h3>
          <input required class="field" type="name" placeholder="Tipo de veículo"/>
          <input required class="field" type="name" placeholder="Cor do veículo"/>
          <input required class="field" type="name" placeholder="Placa do veículo"/>
          <input required class="field" type="name" placeholder="Foto da sua habilitação"/>
          <input required class="field" type="name" placeholder="Foto dos documentos do veículo"/>
          <input required class="field" type="name" placeholder="Sua foto com a CNH"/>

          <div class="col">
            <input required type="checkbox" class="terms" name="terms" value="terms"/>
  
            <label for="terms">Li e aceito os <a href="#"> termos do contrato</a></label>
          </div>
          <button type="submit">Enviar</button>
        </div>
      </form>
    </main>
  </section>
  