<mat-toolbar class="footer">
    <div class="first">
        <p>
            Quem é Delivery2U
        </p>
        <p>
            Política e Privacidade
        </p>
        <p>
            Fale Conosco
        </p>
    </div>
    <div class="second">
        falecom@delivery2u.com.br
    </div>
    <div class="third">
        <p>
            Cadastre sua Loja
        </p>
        <p>
            Seja um Parceiro de Entregas! 
        </p>
        <p>
            Seja dono do Delivery2U na sua Cidade!
        </p>
    </div>
</mat-toolbar>